.card_wrapper {
    width: 500px;
    height: 400px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    will-change: transform;
    transition: all 40ms 0s;
    box-shadow: 0px 0px 10px 2px #fff;
}
