.selectWrapper {
  width: 150px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: all 2s ease-in-out;

  &:hover {
    .optionsWrapper {
      visibility: visible;
    }
  }
}

.selectInput {
  width: 100%;
  border-radius: 5px;
  font-size: 14px;
  padding: 6px;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  box-shadow: inset 0px 1px 9px 1px rgba(0, 0, 0, 0.2);
  color: #f7f7f7;
}

.optionsWrapper {
  height: auto;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  box-shadow: 0px 1px 9px 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  visibility: collapse;

  li {
    height: 40px;
    background-color: #333;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 15px;

    &:first-child {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }

    &:last-child {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }

    &:hover {
      box-shadow: inset 0px 1px 9px 1px rgba(0, 0, 0, 0.4);
      color: #9c9c9c;
    }
  }
}
